# Logistic Regression Model

### Installs, Dependencies and Setup

In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\srich\anaconda3\lib\site-packages (from sklearn) (0.24.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\srich\anaconda3\lib\site-packages (from scikit-learn->sklearn) (0.17.0)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\srich\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.5.2)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\srich\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\srich\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.19.2)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1321 sha256=1ae186b2e616d770f6c57316725e20391f2b6ce7af2678ad3370c8e18bad5d04
  Stored in directory: c:\users\srich\appdata\local\pip\cache\wheels\22\0b\40\fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [4]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in c:\users\srich\anaconda3\lib\site-packages (0.17.0)

In [20]:
import pandas as pd
import numpy as np

### Read the CSV and Perform Basic Data Cleaning

In [141]:
# Upload Victims of Crime by State and Territories
file_to_load = "../Resources/ABS Crime Victim Data.xlsx"

# Time Series Offence Data
#NSW Data
NSW_TS = pd.read_excel(file_to_load,skiprows=[1,2,3,4,5],nrows=24,sheet_name = 'Table 9').dropna()
NSW_TS["State"] = "NSW"
NSW_TS .columns = ["Offence","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","State"]
NSW_TS  = NSW_TS [NSW_TS ["Offence"].str.contains("Murder|Attempted murder|Manslaughter|Armed robbery|Unarmed robbery|Involving the taking of property|Other") ==False]
NSW_TS  = NSW_TS .melt(id_vars=['State','Offence']) 

#VIC Data
VIC_TS = pd.read_excel(file_to_load,skiprows = range(0, 29),nrows=24,sheet_name = 'Table 9').dropna()
VIC_TS["State"] = "VIC"
VIC_TS .columns = ["Offence","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","State"]
VIC_TS  = VIC_TS [VIC_TS ["Offence"].str.contains("Murder|Attempted murder|Manslaughter|Armed robbery|Unarmed robbery|Involving the taking of property|Other") ==False]
VIC_TS  = VIC_TS .melt(id_vars=['State','Offence'])

#QLD Data
QLD_TS = pd.read_excel(file_to_load,skiprows = range(0, 52),nrows=26,sheet_name = 'Table 9').dropna()
QLD_TS["State"] = "QLD"
QLD_TS .columns = ["Offence","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","State"]
QLD_TS  = QLD_TS [QLD_TS ["Offence"].str.contains("Murder|Attempted murder|Manslaughter|Armed robbery|Unarmed robbery|Involving the taking of property|Other") ==False]
QLD_TS  = QLD_TS .melt(id_vars=['State','Offence'])

#SA Data
SA_TS = pd.read_excel(file_to_load,skiprows = range(0, 78),nrows=24,sheet_name = 'Table 9').dropna()
SA_TS["State"] = "SA"
SA_TS .columns = ["Offence","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","State"]
SA_TS  = SA_TS [SA_TS ["Offence"].str.contains("Murder|Attempted murder|Manslaughter|Armed robbery|Unarmed robbery|Involving the taking of property|Other") ==False]
SA_TS  = SA_TS .melt(id_vars=['State','Offence'])

#WA Data
WA_TS = pd.read_excel(file_to_load,skiprows = range(0, 105),nrows=24,sheet_name = 'Table 9').dropna()
WA_TS["State"] = "WA"
WA_TS .columns = ["Offence","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","State"]
WA_TS  = WA_TS [WA_TS ["Offence"].str.contains("Murder|Attempted murder|Manslaughter|Armed robbery|Unarmed robbery|Involving the taking of property|Other") ==False]
WA_TS  = WA_TS .melt(id_vars=['State','Offence'])

#TAS Data
TAS_TS = pd.read_excel(file_to_load,skiprows = range(0, 130),nrows=24,sheet_name = 'Table 9').dropna()
TAS_TS["State"] = "TAS"
TAS_TS .columns = ["Offence","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","State"]
TAS_TS  = TAS_TS [TAS_TS ["Offence"].str.contains("Murder|Attempted murder|Manslaughter|Armed robbery|Unarmed robbery|Involving the taking of property|Other") ==False]
TAS_TS  = TAS_TS .melt(id_vars=['State','Offence'])

#NT Data
NT_TS = pd.read_excel(file_to_load,skiprows = range(0, 155),nrows=24,sheet_name = 'Table 9').dropna()
NT_TS["State"] = "NT"
NT_TS .columns = ["Offence","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","State"]
NT_TS  = NT_TS [NT_TS ["Offence"].str.contains("Murder|Attempted murder|Manslaughter|Armed robbery|Unarmed robbery|Involving the taking of property|Other") ==False]
NT_TS  = NT_TS .melt(id_vars=['State','Offence'])

#ACT Data
ACT_TS = pd.read_excel(file_to_load,skiprows = range(0, 180),nrows=24,sheet_name = 'Table 9').dropna()
ACT_TS["State"] = "ACT"
ACT_TS .columns = ["Offence","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","State"]
ACT_TS  = ACT_TS [ACT_TS ["Offence"].str.contains("Murder|Attempted murder|Manslaughter|Armed robbery|Unarmed robbery|Involving the taking of property|Other") ==False]
ACT_TS  = ACT_TS .melt(id_vars=['State','Offence'])

States_TS = NSW_TS.append([VIC_TS, QLD_TS,SA_TS,WA_TS,TAS_TS,NT_TS,ACT_TS])
States_TS.columns = ["State","Offence","Year","Victims"]
States_TS

    State                           Offence  Year Victims
0     NSW  Homicide and related offences(h)  1993     206
1     NSW                        Assault(i)  1993      np
2     NSW                    Sexual assault  1993    3794
3     NSW           Kidnapping/abduction(j)  1993     312
4     NSW                           Robbery  1993    6003
..    ...                               ...   ...     ...
219   ACT              Kidnapping/abduction  2020       3
220   ACT                           Robbery  2020     152
221   ACT               Blackmail/extortion  2020       3
222   ACT     Unlawful entry with intent(k)  2020    1975
223   ACT               Motor vehicle theft  2020    1122

[1792 rows x 4 columns]

In [194]:
# Age Offence Data
#Homicide and related offences(c) Data
# Males
Homicide_Male = pd.read_excel(file_to_load,skiprows= range(0, 7),nrows=4, usecols = "A:I",sheet_name = 'Table 11').dropna()
Homicide_Male["Gender"] = "Male"
Homicide_Male["Offence"] = "Homicide and related offences"
Homicide_Male.columns = ["Age","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
Homicide_Male  = Homicide_Male.melt(id_vars=['Age','Gender',"Offence"]) 

# Females

Homicide_Female = pd.read_excel(file_to_load,skiprows= range(0, 13),nrows=4, usecols = "A:I",sheet_name = 'Table 11').dropna()
Homicide_Female["Gender"] = "Female"
Homicide_Female["Offence"] = "Homicide and related offences"
Homicide_Female.columns = ["Age","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
Homicide_Female  = Homicide_Female.melt(id_vars=['Age','Gender',"Offence"]) 

Homicide_Data = Homicide_Male.append(Homicide_Female)
Homicide_Data

# Assault Data
# Males
Assault_Male = pd.read_excel(file_to_load,skiprows= range(0, 26),nrows=9, usecols = "A:I",sheet_name = 'Table 11').dropna()
Assault_Male["Gender"] = "Male"
Assault_Male["Offence"] = "Assault"
Assault_Male.columns = ["Age_old","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
Assault_Male = Assault_Male.melt(id_vars=['Age_old','Gender',"Offence"])
Assault_Male.columns = ['Age_old','Gender',"Offence","State","Victims"]
#Group Data into larger age groups to match the other Offence Data
Assault_Male.loc[(Assault_Male['Age_old'] == "0–9 years")|(Assault_Male['Age_old'] == "10–14 years")|(Assault_Male['Age_old'] == "15–19 years"), 'Age'] = '0-19 years' 
Assault_Male.loc[(Assault_Male['Age_old'] == "20–24 years")|(Assault_Male['Age_old'] == "25–34 years"), 'Age'] = '20–34 years' 
Assault_Male.loc[(Assault_Male['Age_old'] == "35–44 years")|(Assault_Male['Age_old'] == "45–54 years"), 'Age'] = '35–54 years' 
Assault_Male.loc[(Assault_Male['Age_old'] == "55–64 years")|(Assault_Male['Age_old'] == "65 years and over"), 'Age'] = '55 years and over' 
Assault_Male = Assault_Male.groupby(['Age','State','Offence','Gender'])['Victims'].sum().reset_index()
Assault_Male

# Females
Assault_Female = pd.read_excel(file_to_load,skiprows= range(0, 36),nrows=9, usecols = "A:I",sheet_name = 'Table 11').dropna()
Assault_Female["Gender"] = "Female"
Assault_Female["Offence"] = "Assault"
Assault_Female.columns = ["Age_old","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
Assault_Female = Assault_Female.melt(id_vars=['Age_old','Gender',"Offence"])
Assault_Female.columns = ['Age_old','Gender',"Offence","State","Victims"]
#Group Data into larger age groups to match the other Offence Data
Assault_Female.loc[(Assault_Female['Age_old'] == "0–9 years")|(Assault_Female['Age_old'] == "10–14 years")|(Assault_Female['Age_old'] == "15–19 years"), 'Age'] = '0-19 years' 
Assault_Female.loc[(Assault_Female['Age_old'] == "20–24 years")|(Assault_Female['Age_old'] == "25–34 years"), 'Age'] = '20–34 years' 
Assault_Female.loc[(Assault_Female['Age_old'] == "35–44 years")|(Assault_Female['Age_old'] == "45–54 years"), 'Age'] = '35–54 years' 
Assault_Female.loc[(Assault_Female['Age_old'] == "55–64 years")|(Assault_Female['Age_old'] == "65 years and over"), 'Age'] = '55 years and over' 
Assault_Female = Assault_Female.groupby(['Age','State','Offence','Gender'])['Victims'].sum().reset_index()
Assault_Female

# Sexual Assault Data
# Males
SAssault_Male = pd.read_excel(file_to_load,skiprows= range(0, 59),nrows=9, usecols = "A:I",sheet_name = 'Table 11').dropna()
SAssault_Male["Gender"] = "Male"
SAssault_Male["Offence"] = "Sexual Assault"
SAssault_Male.columns = ["Age_old","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
SAssault_Male = SAssault_Male.melt(id_vars=['Age_old','Gender',"Offence"])
SAssault_Male.columns = ['Age_old','Gender',"Offence","State","Victims"]
#Group Data into larger age groups to match the other Offence Data
SAssault_Male.loc[(SAssault_Male['Age_old'] == "0–9 years")|(SAssault_Male['Age_old'] == "10–14 years")|(SAssault_Male['Age_old'] == "15–19 years"), 'Age'] = '0-19 years' 
SAssault_Male.loc[(SAssault_Male['Age_old'] == "20–24 years")|(SAssault_Male['Age_old'] == "25–34 years"), 'Age'] = '20–34 years' 
SAssault_Male.loc[(SAssault_Male['Age_old'] == "35–44 years")|(SAssault_Male['Age_old'] == "45–54 years"), 'Age'] = '35–54 years' 
SAssault_Male.loc[(SAssault_Male['Age_old'] == "55–64 years")|(SAssault_Male['Age_old'] == "65 years and over"), 'Age'] = '55 years and over' 
SAssault_Male = SAssault_Male.groupby(['Age','State','Offence','Gender'])['Victims'].sum().reset_index()
SAssault_Male

# Females
SAssault_Female = pd.read_excel(file_to_load,skiprows= range(0, 71),nrows=9, usecols = "A:I",sheet_name = 'Table 11').dropna()
SAssault_Female["Gender"] = "Female"
SAssault_Female["Offence"] = "Sexual Assault"
SAssault_Female.columns = ["Age_old","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
SAssault_Female = SAssault_Female.melt(id_vars=['Age_old','Gender',"Offence"])
SAssault_Female.columns = ['Age_old','Gender',"Offence","State","Victims"]
#Group Data into larger age groups to match the other Offence Data
SAssault_Female.loc[(SAssault_Female['Age_old'] == "0–9 years")|(SAssault_Female['Age_old'] == "10–14 years")|(SAssault_Female['Age_old'] == "15–19 years"), 'Age'] = '0-19 years' 
SAssault_Female.loc[(SAssault_Female['Age_old'] == "20–24 years")|(SAssault_Female['Age_old'] == "25–34 years"), 'Age'] = '20–34 years' 
SAssault_Female.loc[(SAssault_Female['Age_old'] == "35–44 years")|(SAssault_Female['Age_old'] == "45–54 years"), 'Age'] = '35–54 years' 
SAssault_Female.loc[(SAssault_Female['Age_old'] == "55–64 years")|(SAssault_Female['Age_old'] == "65 years and over"), 'Age'] = '55 years and over' 
SAssault_Female = SAssault_Female.groupby(['Age','State','Offence','Gender'])['Victims'].sum().reset_index()
SAssault_Female

#Kidnapping/abduction(g) Data
# Males
Kidnap_Male = pd.read_excel(file_to_load,skiprows= range(0, 93),nrows=4, usecols = "A:I",sheet_name = 'Table 11').dropna()
Kidnap_Male["Gender"] = "Male"
Kidnap_Male["Offence"] = "Kidnapping/abduction(g) Data"
Kidnap_Male.columns = ["Age","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
Kidnap_Male  = Kidnap_Male.melt(id_vars=['Age','Gender',"Offence"]) 

# Females
Kidnap_Female = pd.read_excel(file_to_load,skiprows= range(0, 100),nrows=4, usecols = "A:I",sheet_name = 'Table 11').dropna()
Kidnap_Female["Gender"] = "Female"
Kidnap_Female["Offence"] = "Kidnapping/abduction(g) Data"
Kidnap_Female.columns = ["Age","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
Kidnap_Female  = Kidnap_Female.melt(id_vars=['Age','Gender',"Offence"])

                  Age  Gender                       Offence variable  value
0          0–19 years  Female  Kidnapping/abduction(g) Data      NSW     23
1         20–34 years  Female  Kidnapping/abduction(g) Data      NSW     30
2         35–54 years  Female  Kidnapping/abduction(g) Data      NSW     12
3   55 years and over  Female  Kidnapping/abduction(g) Data      NSW      0
4          0–19 years  Female  Kidnapping/abduction(g) Data      VIC     29
5         20–34 years  Female  Kidnapping/abduction(g) Data      VIC     31
6         35–54 years  Female  Kidnapping/abduction(g) Data      VIC     16
7   55 years and over  Female  Kidnapping/abduction(g) Data      VIC      3
8          0–19 years  Female  Kidnapping/abduction(g) Data      QLD     11
9         20–34 years  Female  Kidnapping/abduction(g) Data      QLD      0
10        35–54 years  Female  Kidnapping/abduction(g) Data      QLD      3
11  55 years and over  Female  Kidnapping/abduction(g) Data      QLD      0
12         0–19 years  Female  Kidnapping/abduction(g) Data       SA      3
13        20–34 years  Female  Kidnapping/abduction(g) Data       SA     13
14        35–54 years  Female  Kidnapping/abduction(g) Data       SA     10
15  55 years and over  Female  Kidnapping/abduction(g) Data       SA      0
16         0–19 years  Female  Kidnapping/abduction(g) Data       WA      4
17        20–34 years  Female  Kidnapping/abduction(g) Data       WA      3
18        35–54 years  Female  Kidnapping/abduction(g) Data       WA      0
19  55 years and over  Female  Kidnapping/abduction(g) Data       WA      0
20         0–19 years  Female  Kidnapping/abduction(g) Data      TAS      0
21        20–34 years  Female  Kidnapping/abduction(g) Data      TAS      0
22        35–54 years  Female  Kidnapping/abduction(g) Data      TAS      0
23  55 years and over  Female  Kidnapping/abduction(g) Data      TAS      0
24         0–19 years  Female  Kidnapping/abduction(g) Data       NT      0
25        20–34 years  Female  Kidnapping/abduction(g) Data       NT      0
26        35–54 years  Female  Kidnapping/abduction(g) Data       NT      0
27  55 years and over  Female  Kidnapping/abduction(g) Data       NT      0
28         0–19 years  Female  Kidnapping/abduction(g) Data      ACT      0
29        20–34 years  Female  Kidnapping/abduction(g) Data      ACT      0
30        35–54 years  Female  Kidnapping/abduction(g) Data      ACT      0
31  55 years and over  Female  Kidnapping/abduction(g) Data      ACT      0

In [187]:
# Robbery Data
# Males
Assault_Male = pd.read_excel(file_to_load,skiprows= range(0, 26),nrows=9, usecols = "A:I",sheet_name = 'Table 11').dropna()
Assault_Male["Gender"] = "Male"
Assault_Male["Offence"] = "Assault"
Assault_Male.columns = ["Age_old","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
Assault_Male = Assault_Male.melt(id_vars=['Age_old','Gender',"Offence"])
Assault_Male.columns = ['Age_old','Gender',"Offence","State","Victims"]
#Group Data into larger age groups to match the other Offence Data
Assault_Male.loc[(Assault_Male['Age_old'] == "0–9 years")|(Assault_Male['Age_old'] == "10–14 years")|(Assault_Male['Age_old'] == "15–19 years"), 'Age'] = '0-19 years' 
Assault_Male.loc[(Assault_Male['Age_old'] == "20–24 years")|(Assault_Male['Age_old'] == "25–34 years"), 'Age'] = '20–34 years' 
Assault_Male.loc[(Assault_Male['Age_old'] == "35–44 years")|(Assault_Male['Age_old'] == "45–54 years"), 'Age'] = '35–54 years' 
Assault_Male.loc[(Assault_Male['Age_old'] == "55–64 years")|(Assault_Male['Age_old'] == "65 years and over"), 'Age'] = '55 years and over' 
Assault_Male = Assault_Male.groupby(['Age','State','Offence','Gender'])['Victims'].sum().reset_index()
Assault_Male

# Females
Assault_Female = pd.read_excel(file_to_load,skiprows= range(0, 36),nrows=9, usecols = "A:I",sheet_name = 'Table 11').dropna()
Assault_Female["Gender"] = "Female"
Assault_Female["Offence"] = "Assault"
Assault_Female.columns = ["Age_old","NSW","VIC","QLD","SA","WA","TAS","NT","ACT","Gender","Offence"]
Assault_Female = Assault_Female.melt(id_vars=['Age_old','Gender',"Offence"])
Assault_Female.columns = ['Age_old','Gender',"Offence","State","Victims"]
#Group Data into larger age groups to match the other Offence Data
Assault_Female.loc[(Assault_Female['Age_old'] == "0–9 years")|(Assault_Female['Age_old'] == "10–14 years")|(Assault_Female['Age_old'] == "15–19 years"), 'Age'] = '0-19 years' 
Assault_Female.loc[(Assault_Female['Age_old'] == "20–24 years")|(Assault_Female['Age_old'] == "25–34 years"), 'Age'] = '20–34 years' 
Assault_Female.loc[(Assault_Female['Age_old'] == "35–44 years")|(Assault_Female['Age_old'] == "45–54 years"), 'Age'] = '35–54 years' 
Assault_Female.loc[(Assault_Female['Age_old'] == "55–64 years")|(Assault_Female['Age_old'] == "65 years and over"), 'Age'] = '55 years and over' 
Assault_Female = Assault_Female.groupby(['Age','State','Offence','Gender'])['Victims'].sum().reset_index()
Assault_Female

                  Age State  Offence  Gender Victims
0          0-19 years   ACT  Assault  Female     191
1          0-19 years   NSW  Assault  Female    5673
2          0-19 years    NT  Assault  Female     832
3          0-19 years   QLD  Assault  Female  npnpnp
4          0-19 years    SA  Assault  Female    1164
5          0-19 years   TAS  Assault  Female     241
6          0-19 years   VIC  Assault  Female  npnpnp
7          0-19 years    WA  Assault  Female    2894
8         20–34 years   ACT  Assault  Female     395
9         20–34 years   NSW  Assault  Female   11703
10        20–34 years    NT  Assault  Female    2426
11        20–34 years   QLD  Assault  Female    npnp
12        20–34 years    SA  Assault  Female    3861
13        20–34 years   TAS  Assault  Female     828
14        20–34 years   VIC  Assault  Female    npnp
15        20–34 years    WA  Assault  Female    9008
16        35–54 years   ACT  Assault  Female     317
17        35–54 years   NSW  Assault  Female   10248
18        35–54 years    NT  Assault  Female    1802
19        35–54 years   QLD  Assault  Female    npnp
20        35–54 years    SA  Assault  Female    3380
21        35–54 years   TAS  Assault  Female     612
22        35–54 years   VIC  Assault  Female    npnp
23        35–54 years    WA  Assault  Female    7480
24  55 years and over   ACT  Assault  Female      54
25  55 years and over   NSW  Assault  Female    1751
26  55 years and over    NT  Assault  Female     187
27  55 years and over   QLD  Assault  Female      np
28  55 years and over    SA  Assault  Female     541
29  55 years and over   TAS  Assault  Female      94
30  55 years and over   VIC  Assault  Female      np
31  55 years and over    WA  Assault  Female     794

In [137]:
# Victim Location Data
#NSW Data
NSW_TS = pd.read_excel(file_to_load,skiprows=[1,2,3,4,5],nrows=24,sheet_name = 'Table 9').dropna()

    State                           Offence variable value
0     ACT  Homicide and related offences(h)     1993     6
1     ACT                        Assault(i)     1993    np
2     ACT                    Sexual assault     1993    83
3     ACT              Kidnapping/abduction     1993     3
4     ACT                           Robbery     1993   114
..    ...                               ...      ...   ...
219   ACT              Kidnapping/abduction     2020     3
220   ACT                           Robbery     2020   152
221   ACT               Blackmail/extortion     2020     3
222   ACT     Unlawful entry with intent(k)     2020  1975
223   ACT               Motor vehicle theft     2020  1122

[224 rows x 4 columns]

In [218]:
# Location Offence Data
Location = pd.read_excel(file_to_load,sheet_name = 'Table 12 Clean Data')
Location1 = Location.transpose()
Location

,Offence,Location,NSW,VIC,QLD,SA,WA,TAS,NT,ACT
0,Homicide and related offences(b),Residential,65,63,53,19,35,3,0,0
1,Homicide and related offences(b),Community,26,33,29,8,25,0,3,3
2,Homicide and related offences(b),Other location,4,3,5,0,3,0,5,3
3,Murder,Residential,49,39,34,9,15,3,0,0
4,Murder,Community,10,22,14,0,11,0,0,0
5,Murder,Other location,4,4,0,0,0,0,0,3
6,Attempted murder,Residential,15,15,22,10,11,0,0,0
7,Attempted murder,Community,8,3,12,4,5,0,3,0
8,Attempted murder,Other location,0,0,0,0,3,0,0,0
9,Manslaughter,Residential,0,8,0,0,0,0,0,0
10,Manslaughter,Community,0,8,4,0,6,0,0,0
11,Manslaughter,Other location,0,0,3,0,0,0,3,0
12,Assault,Residential,37858,np,np,10292,22780,1946,2635,1130
13,Assault,Community,16908,np,np,5164,7534,1004,4025,826
14,Assault,Other location,9829,np,np,1765,3554,462,1548,190
15,Sexual assault,Residential,6590,3991,3565,1133,2295,190,131,165
16,Sexual assault,Community,1392,800,825,321,433,45,154,71
17,Sexual assault,Other location,721,615,571,170,255,36,80,33
18,Kidnapping/abduction,Residential,87,68,17,35,9,0,0,0
19,Kidnapping/abduction,Community,56,53,11,10,4,0,0,3
20,Kidnapping/abduction,Other location,17,19,7,0,3,0,0,0
21,Robbery,Residential,349,440,453,96,271,18,23,23
22,Robbery,Community,1180,1460,922,265,514,39,89,92
23,Robbery,Other location,948,797,835,101,334,35,55,34
24,Armed robbery,Residential,164,276,284,67,181,9,12,9
25,Armed robbery,Community,450,741,349,118,216,16,41,37
26,Armed robbery,Other location,571,484,428,60,152,23,29,17
27,Unarmed robbery,Residential,181,164,173,29,92,6,6,17
28,Unarmed robbery,Community,724,710,575,152,300,27,47,62
29,Unarmed robbery,Other location,381,315,406,34,176,17,29,18
30,Unlawful entry with intent,Residential,19377,21161,27509,7575,15411,1635,1565,1252
31,Unlawful entry with intent,Community,1473,1681,1581,514,905,161,366,166
32,Unlawful entry with intent,Other location,5208,8378,8236,2249,3499,921,1814,496
33,Unlawful entry with intent - Involving the tak...,Residential,11164,13921,17889,4852,9937,1371,671,800
34,Unlawful entry with intent - Involving the tak...,Community,679,949,754,271,464,98,102,96
35,Unlawful entry with intent - Involving the tak...,Other location,2992,5407,4988,1491,2347,666,690,279
36,Unlawful entry with intent - Other,Residential,8212,7239,9617,2722,5476,263,894,448
37,Unlawful entry with intent - Other,Community,790,733,824,243,437,62,264,74
38,Unlawful entry with intent - Other,Other location,2210,2966,3246,760,1158,255,1126,218
39,Motor vehicle theft,Residential,4268,6259,8342,1659,3393,480,176,494
40,Motor vehicle theft,Community,4009,4971,3286,1433,1157,320,196,523
41,Motor vehicle theft,Other location,1140,2048,2083,437,648,154,147,41
42,Other theft,Residential,34306,41860,28318,10675,20545,1604,1007,2412
43,Other theft,Community,20880,30710,19521,8125,10792,1184,1779,2524
44,Other theft,Other location,43878,38922,58724,20411,26537,3247,2491,1601

In [209]:
# Finalisation Offence Data
Finalisation = pd.read_excel(file_to_load,sheet_name = 'Table 14 Clean Data')
Finalisation1 = Finalisation.melt(id_vars=['Offence','Outcome of investigation'])
Finalisation1.columns = ['Offence','Outcome of investigation','State','Victims_Outcome']
Finalisation1

,Offence,Outcome of investigation,State,Victims_Outcome
0,Homicide and related offences,Investigation not finalised,NSW,37
1,Homicide and related offences,Total finalised,NSW,64
2,Murder,Investigation not finalised,NSW,20
3,Murder,Total finalised,NSW,40
4,Attempted murder,Investigation not finalised,NSW,12
...,...,...,...,...
475,Unlawful entry with intent - Other,Total finalised,ACT.1,6.7
476,Motor vehicle theft,Investigation not finalised,ACT.1,92.9
477,Motor vehicle theft,Total finalised,ACT.1,7
478,Other theft,Investigation not finalised,ACT.1,95.2
479,Other theft,Total finalised,ACT.1,4.8

In [5]:
df = pd.read_excel("../resources/victims_of_crime.xlsx")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

Empty DataFrame
Columns: [            Australian Bureau of Statistics, Unnamed: 1, Unnamed: 2]
Index: []

In [6]:
print(df.columns)

Index(['            Australian Bureau of Statistics', 'Unnamed: 1',
       'Unnamed: 2'],
      dtype='object')

### Select your features (columns)

In [ ]:
# Set features. This will also be used as your x values.
selected_features = df.drop("", axis=1)

In [ ]:
X = selected_features
y = df[""]
print(X.shape, y.shape)

### Create a Train Test Split

In [ ]:
# Split our data into training and testing

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)
X_train.head()

### Pre-processing

Scale the data using the MinMaxScaler and perform some feature selection

In [ ]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler,StandardScaler
from tensorflow.keras.utils import to_categorical

# scale the data
X_scaler =  StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

### Train the Model

In [ ]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train_scaled, encoded_y_train)
predictions = model.predict(X_test_scaled)
model

In [ ]:
print(f"Training Data Score: {model.score(X_train_scaled, encoded_y_train)}")
print(f"Testing Data Score: {model.score(X_test_scaled, encoded_y_test)}")

### Hyperparameter Tuning

Use `GridSearchCV` to tune the model's parameters

In [ ]:
# Create the GridSearchCV model
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [1, 5, 10, 50],
              'gamma': [0.0001, 0.0005, 0.001, 0.005]}
grid = GridSearchCV(model, param_grid, verbose=3)

In [ ]:
# Train the model with GridSearch
grid.fit(X_train_scaled, encoded_y_train)

In [ ]:
print(grid.best_params_)
print(grid.best_score_)
{'C': 5, 'gamma': 0.0001}

### Logistic Regression Results

In [ ]:
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")
print(f"Best Parameters: {(grid.best_params_)}")
print(f"Best GRid Score: {(grid.best_score_)}")

### Save the Model

In [ ]:
# save your model by updating "your_name" with your name
# and "your_model" with your model variable
# be sure to turn this in to BCS
# if joblib fails to import, try running the command to install in terminal/git-bash
import joblib
filename = 'svc_model1.sav'
joblib.dump(model, filename)